# Ignoriere alles standardmäßig
*

# Ausnahme für den lib-Ordner
!lib/
!lib/**

# Behalte notwendige Git-Dateien
!.gitignore
!.gitattributes

# Behalte relevante Flutter-Konfigurationsdateien
!pubspec.yaml
!pubspec.lock
!README.md
